<div class="schedule_meeting_heading">
<h2>Schedule A Meeting</h2>
</div>

<div class="schedule_meeting_main">
  <div class="person_meeting">
    <mat-form-field class="person_input">
      <mat-label>Select an employee for meeting</mat-label>
      <mat-select required [(ngModel)]="person">
        <mat-option *ngFor="let employee of employees" [value]="employee.name">{{ employee.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="person_input">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email" required="" [(ngModel)]="email">
    </mat-form-field>

    <div class="company_name">
      <mat-form-field appearance="outline" class="person_input">
        <mat-label>Meeting With</mat-label>
        <input matInput placeholder="Meeting With" [(ngModel)]="meetingWith">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="person_input">
      <mat-label>Looking For</mat-label>
      <input matInput placeholder="Looking For" required="" [(ngModel)]="lookingFor">
    </mat-form-field>

    <mat-form-field appearance="outline" class="person_input">
      <mat-label>Linkedln</mat-label>
      <input matInput placeholder="Linkedln" required="" [(ngModel)]="Linkedln">
    </mat-form-field>

    <mat-form-field appearance="outline" class="person_input">
      <mat-label>Location</mat-label>
      <input matInput placeholder="Enter Location" required="" [(ngModel)]="location">
    </mat-form-field>

    <mat-form-field class="person_input">
      <mat-label>Call Type</mat-label>
      <mat-select [(ngModel)]="callType" required>
        <mat-option value="Voice Call">Voice Call</mat-option>
        <mat-option value="Video Call">Video Call</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="datepicker">
    <mat-form-field color="primary" class="person_input">
      <mat-label>Select Date</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="selectedDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="person_meeting">
    <mat-form-field appearance="outline" class="person_input">
      <mat-label>Time(PKT)</mat-label>
      <input matInput placeholder="Enter Time"  type="time">
    </mat-form-field>
  </div>
  <div class="btn">
  <button mat-raised-button color="primary" (click)="showValue()">Add</button>
</div>
</div>
