.login_main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.login_main h2 {
  margin-bottom: 30px;
  color: #007FFF;
}

.login_input {
  width: 30%;
}

.login_btn button{
  width: 30%;
  padding: 10px 30px 10px 30px;
}
