<div class="meeting_details_main">
  <h2>Meeting Details</h2>

  <div class="meeting_information">
    <p><b>Meeting With :</b> Zain</p>
    <p><b>Meeting Purpose :</b> Looking For a Developer</p>
    <p><b>Linkedln : </b> <a href="https://pk.linkedin.com/">https://pk.linkedin.com/</a></p>
    <p><b>Date :</b> 15-July-2023</p>
    <p><b>Time :</b> 11:00 PM</p>
    <p><b>Location :</b> Karachi</p>
    <p><b>Call Type :</b> Voice</p>
    <div class="btn">
      <a routerLink="/schedule-a-meeting"><button mat-raised-button color="primary">Edit</button></a>

      <a routerLink="/feedback"><button mat-raised-button color="accent">Feedback</button></a>
    </div>
  </div>
</div>
